include ./mixins.jade
block vars

- share_url         = ""
- share_image       = ""
- share_description = ""
- share_title       = ""
- share_twitter     = ""

doctype html
html(lang="es")

	head
		
		title=share_title

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description', content=share_description)

		// Meta tags facebook
		meta(property='og:title', content=share_title)
		meta(property='og:description', content=share_description)
		meta(property='og:url', content=share_url)
		meta(property='og:image', content=share_image)

		// Meta tags twitter cards
		meta(name='twitter:title', content=share_title)
		meta(name='twitter:description', content=share_description)
		meta(name='twitter:creator', content=share_twitter)
		meta(name='twitter:site', content=share_url)
		meta(name='twitter:card', content=share_image)
		meta(name='twitter:image:src', content=share_image)
		
		// Style
		link(href='../css/main.css', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='../img/favicon.ico', rel='shortcut icon')
		
		// Scripts
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='http://maps.google.com/maps/api/js?sensor=false')
		script(src='../js/main.js')


		//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
	

	body

		header

			.header-top
				.header-limit
					.header-inner

						.header-logo
							a(href="index.html") Base Front

						.header-nav
							nav
								ul
									li
										a(href="index.html") Inicio
									li
										a(href="single.html") Single
									li
										a(href="demo.html") Demo
									li
										a(href="#") Multi-menu
										ul
											li
												a(href="#") Lorem ipsum 1
											li
												a(href="#") Lorem ipsum 2
											li
												a(href="#") Lorem ipsum 3
												ul
													li
														a(href="#") Lorem ipsum 3.1
													li
														a(href="#") Lorem ipsum 3.2
													li
														a(href="#") Lorem ipsum 3.3


			.header-menu-button.secretmenu-button

			.header-menu.secretmenu
				.header-menu-back
				.header-menu-inner.secretmenu-translate
					.header-menu-content
						.secretmenu-lvl(data-copy=".header-nav")


		#body
			.body-content

				block page

			//footer






